<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AS400" connectionString="Provider=IBMDA400;Data Source=172.31.96.210;User Id=ITSDTS;Password = STD008;"
         providerName="IBMDA400"/>
    <add name="SRF-SQL" connectionString="Data Source=srf-sql;User Id=MARS_E;Password = rs@996t!ty"
         providerName="System.Data.SqlClient"/>
    <add name="ICHART3D" connectionString="Data Source=ichart3d;User Id=MARS_E;Password = rs@996t!ty"
         providerName="System.Data.SqlClient"/>
    <add name="MAIN" connectionString="Data Source=ichart3d;User Id=MARS_E;Password = rs@996t!ty"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>